{{#if (and currentTypeSupported useBrowserInput)}}
  {{input type=type readonly=readonlyAttr value=_valueAsString min=_minAsString max=_maxAsString placeholder=placeholder change=(action "onChange")}}
{{else}}
  <div class="ui fluid action input flatpickr">
    <input type="text" placeholder={{placeholder}} onchange={{action "onChange"}}/>
    {{#if openButton}}
      <button
        class="ui ui-open {{if readonlyAttr "disabled"}} button"
        title={{t "components.flexberry-lookup.choose-button-text"}}
        disabled={{readonlyAttr}}
        type="button">
        <i class="date icon"></i>
      </button>
    {{/if}}
    {{#if removeButton}}
      <button
        class="ui ui-clear {{if readonlyAttr "disabled"}} button"
        title={{t "components.flexberry-lookup.remove-button-text"}}
        disabled={{readonlyAttr}}
        type="button"
        {{action "remove" bubbles=false}}>
        <i class="remove icon"></i>
      </button>
    {{/if}}
  </div>
{{/if}}


{{!-- <div class="flatpickr">
    <input type="text" placeholder="Select Date.." data-input> <!-- input is mandatory -->

    <a class="input-button" title="toggle" data-toggle>
        <i class="icon-calendar"></i>
    </a>

    <a class="input-button" title="clear" data-clear>
        <i class="icon-close"></i>
    </a>
</div> --}}

{{!-- flexberry-simpledatetime
    type="date"
    placeholder=(t 'components.flexberry-datepicker.placeholder')
    readonly=readonly
    value=model.date
    class=(if (v-get validationObject "date" "isInvalid") "error")
    data-test-i-i-s-book-club-2-1-meeting-e-date=true --}}